<div class="cover">
  <div class="cover-text">
    <h1 class="display-3 text-light font-weight-bold">
      Get started
    </h1>
    <div class="btn-group-vertical">
      <a href="#" routerLink="/login" *ngIf="!authService.loggedIn()" class="btn btn-outline-light btn-lg px-5">Already a member?</a>
      <a href="#" routerLink="/register" *ngIf="!authService.loggedIn()" class="btn btn-outline-light btn-lg px-5">Not yet a member?</a>
      <a href="#" routerLink="/dashboard" *ngIf="authService.loggedIn()" class="btn btn-outline-light btn-lg px-5">Start writing awesome stuff!</a>
    </div>
  </div>
</div>